[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
psycopg2-binary = "*"
parameterized = "*"
django-rest-knox = "*"
python-dotenv = "*"
dj-database-url = "*"

[dev-packages]
pre-commit = "*"
pytest = "*"
pytest-django = "*"
factory-boy = "*"
pytest-cov = "*"
django-extensions = "*"
ipython = "*"
django-silk = "*"

[requires]
python_version = "3.12"
