[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
psycopg2-binary = "*"

[dev-packages]
pre-commit = "*"
pytest = "*"
pytest-django = "*"
factory-boy = "*"

[requires]
python_version = "3.12"
